{% extends 'base.html.twig' %}

{% block title %}Update product{% endblock %}

{% block body %}

    <p>Create product</p>
    {{ include('product/_form.html.twig', {
        button_text: 'Update product'
    }) }}

{% endblock %}
